@charset "utf-8";
/* CSS Document */

* {
	font-size: 100%;
}

body {
	font-family:"Times New Roman", Times, serif;
	margin: 0px;
	padding: 0px;
	color: #333;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
a,
a:hover {
	color: #69C;
	font-weight: bold;
}

.noResponse {
	color: #999;
}

.noResponse a {
	color: #999;
}

.f16 .flag {
	background-image: url(world-flags-sprite/images/flags16.png);
	height: 0px;
	overflow: hidden;
	padding-top: 16px;
	vertical-align: text-bottom;
}

form {
	margin: 0px;
	padding: 0px;
}
#header {
	padding-top: 3em;
	padding-bottom: 3em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.heading {
	background-color: #EEE;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 2em;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 120%;
	float: left;
}
h1 a {
	color: #333;
}


h2 {
	margin: 0px;
	padding-top: 1em;
	padding-right: 0px;
	padding-bottom: 1em;
	padding-left: 0px;
}
#menu {
	text-align: right;
	margin: 0px;
	padding: 0px;
}




.contents {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
}
.contentBody {
	margin-bottom: 2em;
}

table {
	width: 100%;
}
table th {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
td.mapName {
	font-size: 90%;
}
td.ip {
	font-size: 80%;
}
td.ping {
	font-size: 90%;
	font-family: "Courier New", Courier, monospace;
}

table.statistics {
	border-collapse: collapse;
}

table.statistics th {
}

table.statistics td {
	text-align: right;
	font-size: 90%;
	font-family: "Courier New", Courier, monospace;
}

table.statistics tr.hour {
}

table.statistics tr.hour th {
	text-align: right;
	font-family: "Courier New", Courier, monospace;
}

table.statistics tr.odd {
	
}

table.statistics tr.even {
	background-color: #F8F8F8;	
}

table.statistics th.country {
	text-align: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

p.lastUpdate {
	font-size: 90%;
	color: #666;
	float: right;
	margin: 0px;
	padding-top: 1.2em;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#footer {
	padding-top: 1em;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	margin-top: 4em;
	margin-bottom: 1em;
}
#footer p {
	margin: 0px;
	padding: 0px;
	font-size: 90%;
}
